.AccordionTitle {
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

.AccordionTitle:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}